.section__container {
    overflow: auto;
    max-width: 360px;
    max-height: 495px;
    margin: auto;
    padding: 0px 25px 0px;
}

.section__header {
    font-size: 14px;
    margin-bottom: 1px;
}

.section__header--main {
    font-size: 20px;
}

.section__text {
    font-size: 13px;
    margin-top: 1px;
    line-height: 1.5;
}

.section__foto {
    width: 100px;
    height: inherit;
    border: 2px solid rgb(60, 174, 182);
    border-radius: 50%;
    position: fixed;
    margin-left: -150px;
    margin-top: 0px;
    box-shadow: -15px 20px 40px 5px #1b1915;
}

.section__link {
    color: rgb(10, 126, 0);
    text-decoration: none;
}

.section__link:hover {
    text-decoration: underline;
}

.section__link:active {
    font-weight: 700;
    text-decoration: none;
}