.section__container {
    overflow: auto;
    max-width: 360px;
    max-height: 500px;
    margin: auto;
    padding: 0px 25px 0px;
}

.section__foto {
    width: 100px;
    height: inherit;
    border: 2px solid #3caeb6;
    border-radius: 50%;
    position: fixed;
    margin-left: -150px;
    margin-top: 0px;
    box-shadow: -15px 20px 40px 5px #1b1915;
}

.section__button {
    color:black;
    font-family: sans-serif;
    font-weight: 900;
    width: 100px;
    border: 2px solid #3caeb6;
    position: fixed;
    margin-left: -150px;
    margin-top: 150px;
    box-shadow: -15px 20px 40px 5px #1b1915;
}

.section__colorActivLang {
    color: #777;
}

/* .section__buttonTextPl {
    color: #777;
} */