.section__container {
    overflow: auto;
    max-width: 360px;
    max-height: 500px;
    margin: auto;
    padding: 0px 25px 0px;
}

.section__foto {
    width: 100px;
    height: inherit;
    border: 2px solid rgb(0, 126, 78);
    border-radius: 35%;
    position: fixed;
    margin-left: -138px;
    margin-top: 0px;
    box-shadow: 5px -5px 10px 2px hsl(35, 93%, 5%);
}

.section__button {
    color:#777;
    font-family: sans-serif;
    font-weight: 900;
    width: 100px;
    border: 2px solid rgb(0, 126, 78);
    border-radius: 3%;
    position: fixed;
    margin-left: -138px;
    margin-top: 150px;
    box-shadow: 5px -5px 10px 2px hsl(35, 93%, 5%);
}

.section__colorActivLang {
    color: black;
}