html {
    box-sizing: border-box;
    zoom: 200%;
    min-width: 700px;
    margin-left: -125px;
}

@media (min-width: 1024px)  {
    html {
        zoom: 180%;
      }
}

@media (min-width: 768px)  {
    html {
        zoom: 135%;
      }
}

@media (min-width: 425px)  {
    html {
        zoom: 75%;
      }
}

@media (min-width: 375px)  {
    html {
        zoom: 65%;
      }
}

@media (min-width: 320px)  {
    html {
        zoom: 58%;
      }
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #444;
    font-family: 'Courgette', cursive;
    background-image: url("../images/background.jpg");
    resize: auto;
    margin-top: 105px;
    margin-bottom: 140px;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: local;
    background-position: center 55px;
}