html {
    box-sizing: border-box;
    zoom: 200%;
    min-width: 650px;
    margin-left: -125px;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #444;
    font-family: 'Courgette', cursive;
    background-image: url("../images/background.jpg");
    resize: auto;
    margin-top: 105px;
    margin-bottom: 140px;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: local;
    background-position: center 55px;
}