html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Courgette', cursive;
    background-image: url("../images/background.jpg");
    resize: both;
    margin-top: 105px;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: local;
    background-position: center 50px;
}

.article__container {
    overflow: auto;
    max-width: 360px;
    max-height: 495px;
    margin: auto;
    padding: 0px 25px 0px;
}

.article__header {
    font-size: 14px;
    margin-bottom: 1px;
}

.article__header--main {
    font-size: 20px;
}

.article__text {
    font-size: 13px;
    margin-top: 1px;
    line-height: 1.5;
}

.foto {
    width: 100px;
    height: inherit;
    border: 2px solid rgb(60, 174, 182);
    border-radius: 50%;
    position: fixed;
    margin-left: -150px;
    margin-top: 0px;
    box-shadow: -15px 20px 40px 5px #1b1915;
}

.article__link {
    color: rgb(10, 126, 0);
    text-decoration: none;
}

.article__link:hover {
    text-decoration: underline;
}

.article__link:active {
    font-weight: 700;
    text-decoration: none;
}